#main-content .elementor-section.elementor-section-boxed > .elementor-container {
  max-width: 1200px;
}

.elementor-widget-container .nasa_banner {
  margin-bottom: 0;
}
.elementor-widget-container .product_list_widget [class*="block-grid-"] {
  margin: 0;
}
.elementor-widget-container .products li {
  padding-left: 0;
}
.elementor-widget-container .products li:before {
  display: none;
}
.elementor-widget-container .recentcomments:before {
  content: "\f0e5";
  font-size: 80%;
  top: 2px;
}
.elementor-widget-container select[name="archive-dropdown"],
.elementor-widget-container select[name="cat"] {
  margin-top: 5px;
}
.elementor-widget-container form {
  margin-bottom: 0;
}
.elementor-widget-container > form > .row {
  margin-left: -10px;
  margin-right: -10px;
  width: auto;
}

.elementor hr.nasa-separator {
  margin: 10px 0;
}
